body{
    text-align: center;
    background-image: url("../images/mike-kenneally-TD4DBagg2wE-unsplash.jpg");
    background-attachment: fixed;
    color: beige;
    margin:0;
    font-size: large;
    font-family: georgia;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    padding-bottom: 2rem
}
div.header{
    background-color:#2e1d09;
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    background-size: cover;
    top: 0;
    left: 0;
}
h1{
    vertical-align: middle;
    font-variant: small-caps;
}
#coffeecup{
    height: 5rem;
    width: 5rem;
    padding: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    object-fit: cover;
    border-radius: 50%;
    
}
img.table{
    width: 5rem;
}
table{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;;
    margin-bottom: 5%;
}
table, td, th{
    border: 1px solid beige;
    border-collapse: collapse;
    padding: 1rem;
    position: relative;
   
}
th{
    background-color:#2e1d09 ;
    border: none;
}
table::before{
    content:' ';
    background-color: rgb(65, 50, 33) ;
    opacity: 60%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
}
a{
    color:beige
}
a:visited{
    color:rgb(180, 143, 94);
}
.steps{
    list-style-position: outside;
    position: relative;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    
}
ol{
    position: relative;
    padding-left: 4rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.5;
}
.steps::before{
    content: '';
    background: rgb(65, 50, 33) ;
    opacity: 60%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
}
